In [10]:
import pandas as pd
from googletrans import Translator

# cargar el archivo con el dataframe y seleccionar la columna de tweets
df = pd.read_csv('tweetsday1.csv')
tweets = df['Tweet']

# crear una instancia del traductor y definir idiomas origen y destino
translator = Translator(service_urls=['translate.google.com'])
dest_lang = 'en'

# función para traducir un tweet
def translate_tweet(tweet):
    try:
        return translator.translate(tweet, dest=dest_lang).text
    except:
        return tweet

# aplicar la función a cada tweet en la columna y reemplazar el texto original
df['Tweet'] = tweets.apply(translate_tweet)

# guardar el dataframe con los tweets traducidos en inglés en un nuevo archivo
df.to_csv('archivo_traducido.csv', index=False)

In [11]:
print(df)

       Unnamed: 0            User               Date Created  Number of Likes  \
0               0     ResultsVary  2023-03-10 23:59:59+00:00                0
1               1    mikobi_oscar  2023-03-10 23:59:57+00:00                0
2               2   BarandaMuller  2023-03-10 23:59:56+00:00                0
3               3       OscarRiba  2023-03-10 23:59:56+00:00                0
4               4  OscarR79483417  2023-03-10 23:59:56+00:00                1
...           ...             ...                        ...              ...
49996       49996     oscar234040  2023-03-10 13:32:04+00:00               30
49997       49997    AndyxOrbitch  2023-03-10 13:32:03+00:00                0
49998       49998        UnNouMon  2023-03-10 13:32:01+00:00                1
49999       49999          ernamh  2023-03-10 13:32:01+00:00               34
50000       50000  OscarCarrero00  2023-03-10 13:32:00+00:00                0

           Source of Tweet                                              Tweet
0       Twitter for iPhone  Finally going to watch EEAAO tonight, gotta ge...
1      Twitter for Android    @PrimatureRDC Ils attendent quoi pour le faire?
2      Twitter for Android  Hola @aquino_euge me ayudas con RT A ESTE HILO...
3      Twitter for Android  @hudson77449685 @ManOnAHog Does the grammar te...
4          Twitter Web App                            @iamjessicalove0 ♥️♥️♥️
...                    ...                                                ...
49996  Twitter for Android                            Creo que está lloviendo
49997  Twitter for Android                Winona de mãe e Oscar de pai \nBORA
49998  Twitter for Android  @prsnlluk @CharcoUno Amb la seva proposta et p...
49999      Twitter Web App  Not really expecting Michelle Yeoh to win at t...
50000  Twitter for Android  @AdrianaLucia Gracias activista prepagada, que...

[50001 rows x 6 columns]