In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data to
attributes_container = []

In [8]:
# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('water since:2023-03-19 until:2023-03-20 lang:en-us').get_items()):
    if i>50000:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content])

C:\Users\17mar\AppData\Local\Temp\ipykernel_73740\29615339.py:5: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content])

In [9]:
# Creating a dataframe to load the list
tweets_df = pd.DataFrame(attributes_container, columns=["User", "Date Created", "Number of Likes", "Source of Tweet", "Tweet"])
print(tweets_df)

                  User              Date Created  Number of Likes  \
0        Xx_RAKUGAN_xX 2023-03-20 23:59:57+00:00                2
1        OSCAR49633321 2023-03-20 23:59:57+00:00                0
2          wishfulanna 2023-03-20 23:59:56+00:00                0
3        Josfacekilla1 2023-03-20 23:59:54+00:00                1
4        outta_papeles 2023-03-20 23:59:52+00:00                2
...                ...                       ...              ...
50090      markfauthor 2023-03-19 11:41:35+00:00                0
50091  2ndClassElitist 2023-03-19 11:41:31+00:00                1
50092   talldrinkowatr 2023-03-19 11:41:30+00:00                2
50093        snowangja 2023-03-19 11:41:30+00:00                0
50094   kitty_ravntyun 2023-03-19 11:41:29+00:00                2

           Source of Tweet                                              Tweet
0       Twitter for iPhone  @Orcinus_Oscar „ÅØ„Çè„Çèüí¶„ÅÇ„Çä„Åå„Å®„ÅÜ„Åî„Åñ„ÅÑ„Åæ„ÅôÔºÅÔºÅ\n„Åà„Å£„Å®ÔºÅ„ÅÇ„ÅÜ„ÅÅ„Éº„ÅÖ‚Ä¶„ÇØ„Ç°„Éº...
1      Twitter for Android        @aleja_37tuya Qu√© bueno que est√© esta mujer
2      Twitter for Android   @crypto_inez @Oscar_Swap https://t.co/PxnpUE0T0R
3       Twitter for iPhone  @afroposadism Gary Oldman swoops in with an ac...
4          Twitter Web App  @tuttlebuttle49 @ElSangito @jiyoungforLA relev...
...                    ...                                                ...
50090      Twitter Web App  @UberFacts The gravy at KFC is a powdered mix,...
50091      Twitter Web App  @VolsUofT @TaylorAnnNx So, the later edition "...
50092   Twitter for iPhone  Starting to like this ‚Äúonly people I follow or...
50093  Twitter for Android  Friendly reminder that we are probably standin...
50094  Twitter for Android  "can't eat meat, can't eat,chicken or any prot...

[50095 rows x 5 columns]

In [ ]:
tweets_df.to_csv("C:\\Users\\17mar\\Documents\\tweetsday1en.csv")

In [29]:
prueba = pd.read_csv("C:\\Users\\17mar\\Documents\\tweetsday1en.csv")
print(prueba)

       Unnamed: 0             User               Date Created  \
0               0          Raviotx  2023-03-12 23:59:59+00:00
1               1     BercaMariana  2023-03-12 23:59:59+00:00
2               2   Kennethaylett3  2023-03-12 23:59:59+00:00
3               3        welvtimmy  2023-03-12 23:59:59+00:00
4               4      ALakerfan78  2023-03-12 23:59:59+00:00
...           ...              ...                        ...
49996       49996  AsMidiasQuentes  2023-03-12 23:23:23+00:00
49997       49997   ElielsonJnior1  2023-03-12 23:23:22+00:00
49998       49998         itsgreyg  2023-03-12 23:23:22+00:00
49999       49999          drun007  2023-03-12 23:23:22+00:00
50000       50000         Ceci_BB_  2023-03-12 23:23:22+00:00

       Number of Likes      Source of Tweet  \
0                    0  Twitter for Android
1                    0  Twitter for Android
2                    0  Twitter for Android
3                    0   Twitter for iPhone
4                    3  Twitter for Android
...                ...                  ...
49996                1  Twitter for Android
49997                2   Twitter for iPhone
49998                8   Twitter for iPhone
49999                2   Twitter for iPhone
50000                0   Twitter for iPhone

                                                   Tweet
0                What do you think of this look? #Oscars
1      Assistindo o Oscar sem ter assistido um √∫nico ...
2                   Nochesita de chill viendo los oscars
3                                  JUSTIN EN LOS OSCARüëÄüëÄ
4      I'd rather watch this Oscar than the lame awar...
...                                                  ...
49996  Angela Bassett j√° ser√° a primeira premiada no ...
49997                     taquicardia com esse Oscar viu
49998  fav looks so far. #Oscars https://t.co/dwUJh8C06n
49999  All set for #AfsheensOscars. My annual date wi...
50000  Atent@s!! Lady Gaga, Lenny Kravitz y Rihanna c...

[50001 rows x 6 columns]

In [ ]:
print(prueba.columns)
prueba.drop(columns=['Unnamed: 0', 'User', 'Number of Likes'])

In [ ]:
prueba = prueba.drop(columns=['Unnamed: 0', 'User', 'Number of Likes'])
print(prueba)

In [ ]:
import pandas as pd
import mysql.connector
import sqlalchemy

In [ ]:
# Carga los datos en un DataFrame
df = pd.read_csv("C:\\Users\\17mar\\Documents\\tweetsday3.csv")

df = df.drop('Unnamed: 0', axis=1)
new_column_names = {
    'Date Created': 'Date_Created',
    'Number of Likes': 'Number_of_Likes',
    'Source of Tweet': 'Source_of_Tweet'
}

# Renombrar las columnas del dataframe
df = df.rename(columns=new_column_names)

In [ ]:
# Conecta a la base de datos
engine = sqlalchemy.create_engine("mysql+mysqlconnector://root:root@localhost/tweets")

In [ ]:
# Inserta los datos del DataFrame en la tabla
df.to_sql(name='scrape', con=engine, if_exists='append', index=False)